@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<div class="portpolio_fullcanvas">still developing
    <header class="mountainback">
        <div class="headline">
            <h2 class="headline_text">Hello i'm your designer</h2>
            <h1 class="headline_title">Portfolio</h1>
        </div>
        <div class="mountainfront"></div>
    </header>
    <main>
        <section>
            <article>

            </article>
            <article>

            </article>
        </section>
    </main>
    <footer>

    </footer>








</div>